.loginCard {
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
}


.loginScreenLeft {

  width: calc(100% / 3);
  background-color: gold;
}

.loginScreenRight {
  background-color: black;
  width: calc(2*(100% / 3))
}